@import 'normalize.css';

p{
    margin: 0;
}
section{
    padding: 20px;
    border: 1px solid red;
}

.item-list{
    font-family: sans-serif;
    color: blue;
}
.red{
    color: red;
}

.big{
    font-size: 20px;
}

.small{
    font-size: 10px;
}

#intro {
    background-image: url('/images/landscape.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
    background-position: center;
    
}

#ocio {
    background-color: burlywood;
}

#desarrollo {
    background-color: cornflowerblue;
}

/*[lang='lat'] {
    color: red;
}*/

[id] {

    border: 3px solid greenyellow;
}

[data-author] {
    color: hotpink;
}

/* como seleccionar un elemento cuyo atributo contenga la palabra oferta*/

[data-etiquetas~="oferta"] {

    background-color: skyblue;
    border: 1px solid red;
    
}

[data-etiquetas*="Des"] {
    background-color: royalblue;
    border: 1px solid gold;
}