@import 'normalize.css';

body{

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    background-color: #1f1e24;
    /*text-align: center;*/
}

h1, h2, h3 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#jumbotron{
    padding: 10px;
    height: 30vh;
    min-height: 200px;
    background-image: url('/images/header-image.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    

}

#jumbotron h1{

    text-transform: uppercase;
    font-size: 60px;

    animation: enter 0.3s ease 1s forwards;
    opacity: 0;
}

main {
    padding: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 20px;
}

.hotel{
    border: 1px solid white;
}

.hotel-data{
    flex-grow: 1;
}

.hotel ul{
    padding: 0;
    margin: 0;
    list-style: none;
}

#hotel-booking{
    align-items: center;
    justify-content: center;
}

.hotel section, .hotel header{

    padding: 20px;
}

.hotel header{
    text-align: center;


}

.hotel h2, .hotel h3{
    text-transform: uppercase;
    margin: 0;
}

.hotel h3{

    color: #c73b43;
    font-size: 30px;
}


.hotel:hover{
    pointer
}

.hotel footer a{

    color: white;
    text-transform: uppercase;
    
}

footer{
    background-color: #c73b43;
    padding: 10px;
    font-weight: bold;
    text-decoration: thistle;
    text-align: center;
    
}

#colophon p{
    text-transform: capitalize;
    font-weight: bold;
    

}

@keyframes enter{

    from{
        opacity: 0%;
        transition: ease 0.3s;

    }
    to{
        opacity: 1;
    }
}