@import 'normalize.css';

body {
    font-family: Arial, Helvetica, sans-serif;
}
main {
    width: 600px;
    border: 1px solid red;
    margin: 10px auto;
}
header {
    background-color: #75bbd9;
    height: 300px;
    text-align: center;
    padding: 20px;
}
header img {
    animation: fadeEnter 0.5s ease-in-out 0.2s;
}

.intro {
    padding: 30px;
}
.articles {
    padding: 0 30px 30px;
}
article {
    display: inline-block;
    width: 49%;
}
.bg-image {
    background-color: #1f3541;
    padding: 20px;
    text-align: center;
}
.bg-image img {
    height: 100px;
    transition: transform 0.2s ease-in-out;
    cursor: pointer;
}
.bg-image img:hover {
    transform: scale(1.2);
}

footer {
    color: white;
    background-color: #f7565f;
    padding: 30px;
}
footer > div {
    display: inline-block;
    width: 49%;
}
.social-links {
    text-align: right;
}
.social-links a {
   padding: 20px;
   display: inline-block;
   background-size: contain;
   border-radius: 50%;
   border: 2px solid  #a0393a;
   margin: 0 5px;
   opacity: 0.5;
   transition: opacity 0.2s ease-in-out;
}
.social-links a:hover {
    opacity: 1;
 }
a.twitter {
    background-image: url('/images/twitter.png');
}
a.facebook {
    background-image: url('/images/facebook.png');
}

@keyframes fadeEnter {
    from {
        transform: translateY(10%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}
