<p>Lorem Ipsum</p>
<input type="text">
<h1 lang="lat">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequatur reiciendis aperiam deserunt ut dignissimos aliquam illo, nobis expedita aspernatur sit non fugit odio ex, consectetur delectus corporis ratione corrupti ullam!</h1>
<img width="300" src="globo.jpeg" alt="">
<section>
    <header>
        <h2></h2>
    </header>

</section>