@import 'normalize.css';



body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

h1 {
    text-align: center;
    color: deepskyblue;
}

main{
    display: flex;
    padding: 20px;
}

section{
    padding: 10px;
    flex: 1 1 50%;
}

textarea{
    width: 100%;
    height: 200px;
    border: none;
    background-color: lavender;
    padding: 20px;
    box-sizing: border-box;


}

#send{
    margin-top: 10px;
    display: block;
    width: 100% ;
    padding: 10px;
    border: none;
    background-color: violet;
    transition: background-color .3s ease ;


}

#send:hover{
    background-color: lavender;
}





